@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Bold.ttf");
  font-display: 'swap'
}
@font-face {
  font-family: "LatoR";
  src: url("fonts/Lato/Lato-Regular.ttf");
  font-display: 'swap'
}
@font-face {
  font-family: "LatoL";
  src: url("fonts/Lato/Lato-Light.ttf");
  font-display: 'swap';
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

:root {
    --dark-primary-color: rgb(0, 143, 57);
    --light-primary-color: gray;
    --text: rgb(238, 238, 238);
}

/**
* OVERRIDES
*/
a {
    color: unset !important;
}

.hero {
    display: flex;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-color: var(--light-primary-color);
    color: var(--text);
}
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(84, 114, 114, 0.4);
        z-index: 0;
    }
    .hero-intro {
        margin: auto;
        z-index: 2;
        padding: 1.3rem;
        text-align: left;
    }
        .hero-title {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.5px;
            word-spacing: 5px;
        }
        .intro {
            z-index: 2;
            padding: 2rem;
            text-align: left;
            width: 100%;
        }
    .hero-2 {
        flex-direction: column;
    }
.container {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
}
    .container--title {
        text-transform: uppercase;
    }
.article b {
    font-weight: bold;
}
.img-article {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
body {
    overflow-x: hidden;
    font-family: LatoR;
}
h1, h2 {
    font-family: Lato;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.link-btn {
    background-color: var(--dark-primary-color);
    color: var(--text) !important;
    font-weight: 700;
}
.row-title {
    background-color: var(--dark-primary-color);
    color: var(--text);
}
.items {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.slider-blog {
    height: 35rem;
}
.items img {
    min-width: 50px;
}
.items .slug-link {
    color: inherit;
    margin-left: 15px;
}
.items .slug-link:hover {
    color: rgb(76, 72, 72);
    text-decoration: underline;
}
.social-links {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1.4rem;
}
    .social-links a {
        text-decoration: none;
        color: #bfbfbf;
        margin: 0.5em 0;
        font-family: LatoL;
    }
    .icon {
        color: white;
        padding: .7rem;
        transition: all .5s;
        margin-right: 1rem;
    }
    .icon-facebook {
        background: #2E406E;
    }
    .icon-twitter {
        background: #339DC5;
    }
    .icon-youtube {
        background: #E83028;
    }
    .icon-instagram {
        background: #993fa5;
    }
.internal-links {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
}
    .internal-links > a {
        padding-bottom: 0.5rem;
    }
.navbar--scroll {
    background-color: var(--dark-primary-color) !important;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 320px) {
    header {
        padding: 0;
    }
    .social-links {
      margin-top: 1em;
    }
    .news h4 {
        font-family: Lato;
    }
    .col-post {
        padding-bottom: .80rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #bfbfbf;
    }
    .item-news {
        padding: .50rem;
    }
    .news h1 {
        margin-bottom: 1rem;
    }
    .news h5 {
        height: 9rem;
        margin-top: .50rem;
        font-weight: 500;
    }
    .news img {
        width: 100%;
    }
    .link-paginate {
        border-top: 1px solid #bfbfbf;
        padding-top: 2rem;
        margin-top: 1rem;
    }
    .article b {
        font-weight: bold;
    }
    .col-article {
        border-bottom: 1px solid #bfbfbf;
        margin-bottom: 2rem;
    }
    .post span {
        margin-top: 1rem;
        font-family: LatoL;
    }
    .row-tags {
        margin-bottom: 1rem;
    }
    .col-details h4 {
        font-family: Lato;
    }
    .nav-social, .categories, .last-articles {
        margin-bottom: 2rem;
    }
    .nav-social img {
        width: 30%;
        padding: .50rem;
    }
    .navbar {
        background-color: var(--dark-primary-color);
        box-shadow: unset;
        padding: .2rem;
        color: var(--text);
        transition-duration: 500ms;
    }
    .nav-item {
        padding-left: .80rem;
        text-transform: uppercase;
        font-size: .75em;
    }
    .navbar-collapse {
        border-radius: 12px;
    }
    .item-slider-blog img {
        width: 100%;
        transition: 1s ease;
        -moz-transition: 1s ease; /* Firefox */
        -webkit-transition: 1s ease; /* Chrome - Safari */
        -o-transition: 1s ease; /* Opera */
    }
    .item-slider-blog img:hover {
        transform : scale(1.1);
        -moz-transform : scale(1.1); /* Firefox */
        -webkit-transform : scale(1.1); /* Chrome - Safari */
        -o-transform : scale(1.1); /* Opera */
        -ms-transform : scale(1.1); /* IE9 */
    }
    .item-slider-blog h5 {
        margin-top: 1rem;
    }
    .content {
        margin-top: 4rem;
    }
    .content img {
        width: 60%;
    }
    .content p {
        margin-bottom: 2rem;
    }
    .col-1, .col-2 {
        margin-bottom: 3rem;
    }
    .title {
        margin-top: 10rem;
    }
    .title-col {
        background-color: rgba(39, 38, 38, 0.5);
        color: var(--text);
        padding: .50rem;
        border-radius: 5px;
    }
    .title-col a {
        color: var(--text);
        font-size: 1.3em;
        font-weight: bold;
    }
    .card {
        border: 1px solid rgba(119,119,119,.325);
        font-family: "LatoL"
    }
        .card:hover {
            cursor: pointer;
        }
            .card-title {
                font-family: Lato;
                text-transform: uppercase;
            }
            .card-title:hover {
                text-decoration: underline;
            }
    .footer {
        background-color: var(--dark-primary-color);
        color: var(--text);
        text-transform: uppercase;
        font-size: .8rem;
        padding-top: 1rem;
        font-size: 1rem;
        max-width: 100%;
    }
    .footer a {
        font-family: 1rem;
        color: var(--text);
    }
    .logo-footer {
        width: 50%;
    }
    .footer-contact img {
        width: 8%;
    }
    .row-contact {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 640px) {
    .hero {
        background-attachment: fixed;
    }
        .hero-intro {
            margin: auto 2rem;
            width: 50%;
        }
    .news {
        margin-top: 1.5rem;
    }
    .news h1 {
        margin-bottom: 2rem;
    }
    .news h5 {
        font-size: 1em;
        font-weight: 600;
        height: 9rem;
    }
    .news-card {
        height: 325px;
        padding: .70rem;
    }
    .col-article {
        border-right: 1px solid #bfbfbf;
        border-bottom: 0;
    }
    .icon-calendar {
        width: 8%;
    }
    .nav-social img {
        width: 28%;
    }
    .navbar {
        background-color: transparent;
        padding: .3rem;
        color: var(--text);
    }
    .navbar-nav {
        margin-right: auto;
    }
    .navbar-collapse {
        border-radius: 12px;
    }
    .slider-blog {
        margin-top: 2rem;
    }
    .item-slider-blog img {
        width: 40%;
    }
    .item-slider-blog h5 {
        margin-top: 1rem;
    }
    .content img {
        width: 55%;
    }
    .content p {
        margin-bottom: 5rem;
    }
    .col-1, .col-2 {
        margin-bottom: 3rem;
    }
    .title {
        margin-top: 8rem;
    }
    .title-col a {
        font-size: .98em;
    }
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .card img {
        width: 70%;
        height: auto;
    }
    .logo-footer {
        width: 80%;
    }
    .row-contact {
        margin-top: 5rem;
    }
}
@media screen and (min-width: 1280px) {
    .hero-intro {
        width: 25%;
    }
        .hero-title {
            font-size: 5rem;
        }
    .news h5 {
        height: 5rem;
    }
    .content img {
        width: 41%;
    }
    .title {
        margin-top: 13.5rem;
    }
    .title-col a {
        font-size: 1.2em;
    }
    .nav-item {
        font-size: .95em;
        padding-left: 1rem;
    }
    .card img {
        width: 75%;
        height: 28%;
    }
    .multimedia img {
        width: 35%;
    }
    .footer {
        height: 20rem;
    }
    .logo-footer {
        width: 70%;
    }
}
